/BeSpokedBikes.API/bin
/BeSpokedBikes.API/obj
/BeSpokedBikes.Application/bin
/BeSpokedBikes.Application/obj
/BeSpokedBikes.Common/bin
/BeSpokedBikes.Common/obj
/BeSpokedBikes.Domain/bin
/BeSpokedBikes.Domain/obj
